@model PagedList.IPagedList<Models.Framework.User>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";

    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    Danh sách tài khoản.}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách tài khoản</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-4">
                        <input type="text"value="@ViewBag.SearchString" name="searchString" />
                    </div>
                    <div class="col-md-4">
                        <button type="submit">Tìm Kiếm</button>
                    </div>
                </div>
            </div>
        }

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th>Tên người dùng</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>#</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">

                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                            <td>
                                <a href="/Admin/User/Edit/@item.ID">Cập nhật</a>
                                |
                                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                           {
                               Confirm = "Bạn muốn xóa bản ghi này không",
                               OnComplete = "$('#row_ " + item.ID + "').remove()",
                               HttpMethod = "Delete"
                           })
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page,@searchString = @ViewBag.SearchString }))
        </div>
    </div>
</div>

